<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/index.css}" />
    <title>Title</title>
</head>
<body>
<ul>
    <li><a href="">Information</a> </li>
    <li><a href="nutrition">Nutrition Store</a> </li>
</ul>
<img src="pictures/roka.png">
<p class="index">This is <span th:text="${name}"></span> . Currently living on mushroom and beer.He knows 2 tricks</p>
<p class="index">Known tricks</p>
<ul class="index">
    <li>Paint</li>
    <li>Cook</li>
</ul>
</body>
</html>