<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/style.css}"/>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Welcome to Programmer Fox Club</h1>
<p>Please provide a name, so you can associate it to your pet.</p>
<form action="/login" method="post">
    <label for="Username">Name:</label>
    <input type="text" id="Username" name="name">
    <button class="button" type="submit">Go</button>
</form>
</body>
</html>



















