<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attractions</title>
</head>
<body>
<h1>Tourist Information</h1>
<table>
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>Price</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>Category</th>
        <th>Duration</th>
        <th>Recommanded age</th>
    </tr>
    <th:block th:each="attraction : ${attractions}">
        <tr>
            <td th:text="${attraction.getName()}"></td>
            <td th:text="${attraction.getCity()}"></td>
            <td th:text="${attraction.getPrice()}"></td>
            <td th:text="${attraction.getLongitude()}"></td>
            <td th:text="${attraction.getLatitude()}"></td>
            <td th:text="${attraction.getCategory()}"></td>
            <td th:text="${attraction.getDuration()}"></td>
            <td th:text="${attraction.getRecommandedAge()}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>